.delete-button-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 2rem;
	background-color: #ff4444;
	transition: background-color 0.2s ease;
}

.delete-button-container:hover {
	background-color: #ff2222;
}

.delete-button {
	color: white;
	border: none;
	background: none;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 600;
	padding: 0.5rem 1rem;
	transition: transform 0.2s ease;
}

.delete-button:hover {
	transform: scale(1.1);
}
